@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar{
      transition:all .4s ease-in-out;
    }
  }

.text-limit{
    --max-lines: 3;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}